---
import config from "@/config/config.json";

const { src } = Astro.props;

const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
} = config.site;
---

<a href="/" class="navbar-brand block">
  {
    src || logo ? (
      <img
        src={src ? src : logo}
        alt={title}
        width={parseInt(logo_width)}
        height={parseInt(logo_height)}
        style={{
          width: `${parseInt(logo_width)}px`,
          height: `${parseInt(logo_height)}px`,
        }}
      />
    ) : logo_text ? (
      <span class="font-semibold text-xl">{logo_text}</span>
    ) : (
      <span class="font-semibold text-xl">{title}</span>
    )
  }
</a>

